html.no-theme-transition * {
	transition: none !important;
}

:root {
	--transition-change-color: 0.2s ease-out;
}

body {
	background-color: white;
}

:root[data-theme='light'] {
	--primary-color: #000;
	--reverse-primary-color: #fff;
	--same-primary-white-color: #fff;
	--accent-color: #009cfd;
	--accent-white-color: #009cfd;
	--reverse-accent-color: #b14fc0;
}

:root[data-theme='dark'] {
	--primary-color: #fff;
	--reverse-primary-color: #000;
	--same-primary-white-color: #fff;
	--accent-color: #b14fc0;
	--accent-white-color: #fff;
	--reverse-accent-color: #009cfd;
}

@font-face {
	font-family: Tinos;
	font-style: normal;
	font-weight: 400;
	src: url('../../assets/fonts/tinos/Tinos-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Tinos;
	font-style: normal;
	font-weight: 700;
	src: url('../../assets/fonts/tinos/Tinos-Bold.ttf') format('truetype');
}

@font-face {
	font-family: Tinos;
	font-style: italic;
	font-weight: 400;
	src: url('../../assets/fonts/tinos/Tinos-Italic.ttf') format('truetype');
}

@font-face {
	font-family: Tinos;
	font-style: italic;
	font-weight: 700;
	src: url('../../assets/fonts/tinos/Tinos-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: Furore;
	src: url('../../assets/fonts/Furore/Furore.otf');
}
