html.no-theme-transition * {
	transition: none !important;
}

:root {
	// transition
	--transition-change-color: 0.4s ease-out;

	// z-index
	--bg-color-index: 1;
	--main-content-index: 5;
}

:root[data-theme='light'] {
	--primary-color: #000;
	--reverse-primary-color: #fff;
	--same-primary-white-color: #fff;
	--same-primary-black-color: #000;
	--accent-color: #009cfd;
	--accent-white-color: #009cfd;
	--reverse-accent-color: #b14fc0;

	// specific place

	// auth-login
	--auth-login-form-bg-color: rgb(255 255 255 / 70%);
}

:root[data-theme='dark'] {
	--primary-color: #fff;
	--reverse-primary-color: #000;
	--same-primary-white-color: #fff;
	--same-primary-black-color: #000;
	--accent-color: #b14fc0;
	--accent-white-color: #fff;
	--reverse-accent-color: #009cfd;

	// specific place

	// auth-login
	--auth-login-form-bg-color: rgb(0 0 0 / 50%);
}

@font-face {
	font-family: Tinos;
	font-style: normal;
	font-weight: 400;
	src: url('../../assets/fonts/tinos/Tinos-Regular.ttf') format('truetype');
}

@font-face {
	font-family: Tinos;
	font-style: normal;
	font-weight: 700;
	src: url('../../assets/fonts/tinos/Tinos-Bold.ttf') format('truetype');
}

@font-face {
	font-family: Tinos;
	font-style: italic;
	font-weight: 400;
	src: url('../../assets/fonts/tinos/Tinos-Italic.ttf') format('truetype');
}

@font-face {
	font-family: Tinos;
	font-style: italic;
	font-weight: 700;
	src: url('../../assets/fonts/tinos/Tinos-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: Furore;
	src: url('../../assets/fonts/Furore/Furore.otf');
}
