* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul,
ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	vertical-align: top;
}

button {
	display: inline-block;
	background: none;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

label {
	cursor: pointer;
}

input {
	color: var(--primary-color);
	background-color: transparent;
	transition: color var(--transition-change-color);
	border: none;
	outline: none;
}

input:-webkit-autofill {
	-webkit-text-fill-color: var(--primary-color) !important;
	transition:
		background-color 999999s ease-in-out 0s,
		color var(--transition-change-color);
}
