ul,
ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	vertical-align: top;
}

button {
	border: none;
	cursor: pointer;
}

input {
	border: none;
	outline: none;
}

input:-webkit-autofill {
	-webkit-text-fill-color: var(--primary-color) !important;
	transition: background-color 999999s ease-in-out 0s;
}
