@use '../../../../app/styles/mixins/font-mixins.scss';

@mixin button-hover-1 {
	transition:
		opacity 0.2s ease-out,
		letter-spacing 0.2s ease-out;

	&:hover {
		letter-spacing: 2px;
		opacity: 0.9;
	}
}

.root {
	transition:
		color var(--transition-change-color),
		letter-spacing var(--transition-change-color),
		box-shadow var(--transition-change-color),
		background-color var(--transition-change-color);
}

.auth {
	@include font-mixins.furore-regular;
	@include button-hover-1;

	margin-top: 1rem;
	width: 100%;
	height: 45px;
	font-size: 1.25rem;
	color: var(--reverse-primary-color);
	letter-spacing: 1px;
	background-color: var(--accent-color);
	border-radius: 5px;
}
