@use '../../../../../app/styles/mixins/form-mixins.scss';

.form {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	width: 100%;
}

.innerLabel {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}

.validationMessageRoot {
	padding-left: 0.5rem;
	will-change: height;
	transition: height 0.3s ease-out;
	overflow: hidden;
}

.img {
	@include form-mixins.form-img;

	margin: 0 0.5rem;
	height: 100%;
	opacity: 0.5;
	pointer-events: none;
}
