.form {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	width: 100%;
}

.innerLabel {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
}

.validationMessageRoot {
	padding-left: 0.5rem;
	will-change: height;
	transition: height 0.2s ease-out;
	overflow: hidden;
}
