.form {
	display: flex;
	flex-direction: column;
	padding: 3rem 2.25rem;
	row-gap: 2rem;
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 5px 20px var(--accent-color);
	transition: box-shadow var(--transition-change-color);
}
