@use '../../../../app/styles/mixins/font-mixins.scss';

.root {
	line-height: 100%;
	transition: color var(--transition-change-color);
}

.auth {
	@include font-mixins.furore-regular;

	margin-bottom: 20px;
	font-size: 3rem;
	color: var(--accent-color);
}
