@keyframes shadow-rolling {
	0% {
		box-shadow:
			0 0 rgb(255 255 255 / 0%),
			0 0 rgb(255 255 255 / 0%),
			0 0 rgb(255 255 255 / 0%),
			0 0 rgb(255 255 255 / 0%);
	}

	12% {
		box-shadow:
			100px 0 var(--shadow-rolling-color),
			0 0 rgb(255 255 255 / 0%),
			0 0 rgb(255 255 255 / 0%),
			0 0 rgb(255 255 255 / 0%);
	}

	25% {
		box-shadow:
			120px 0 var(--shadow-rolling-color),
			100px 0 var(--shadow-rolling-color),
			0 0 rgb(255 255 255 / 0%),
			0 0 rgb(255 255 255 / 0%);
	}

	36% {
		box-shadow:
			130px 0 var(--shadow-rolling-color),
			110px 0 var(--shadow-rolling-color),
			90px 0 var(--shadow-rolling-color),
			0 0 rgb(255 255 255 / 0%);
	}

	50% {
		box-shadow:
			140px 0 var(--shadow-rolling-color),
			120px 0 var(--shadow-rolling-color),
			100px 0 var(--shadow-rolling-color),
			80px 0 var(--shadow-rolling-color);
	}

	62% {
		box-shadow:
			200px 0 rgb(255 255 255 / 0%),
			130px 0 var(--shadow-rolling-color),
			110px 0 var(--shadow-rolling-color),
			90px 0 var(--shadow-rolling-color);
	}

	75% {
		box-shadow:
			200px 0 rgb(255 255 255 / 0%),
			200px 0 rgb(255 255 255 / 0%),
			130px 0 var(--shadow-rolling-color),
			100px 0 var(--shadow-rolling-color);
	}

	87% {
		box-shadow:
			200px 0 rgb(255 255 255 / 0%),
			200px 0 rgb(255 255 255 / 0%),
			200px 0 rgb(255 255 255 / 0%),
			110px 0 var(--shadow-rolling-color);
	}

	100% {
		box-shadow:
			200px 0 rgb(255 255 255 / 0%),
			200px 0 rgb(255 255 255 / 0%),
			200px 0 rgb(255 255 255 / 0%),
			200px 0 rgb(255 255 255 / 0%);
	}
}

.shadowRollong {
	--shadow-rolling-color: var(--same-white);

	position: relative;
	left: -120px;
	display: block;
	box-sizing: border-box;
	margin: 15px auto;
	border-radius: 50%;
	animation: shadow-rolling 2s linear infinite;
}
