.section {
	padding: 0 15px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 3rem;
}

.innerTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1rem;
}

.innerForm {
	z-index: 2;
	display: flex;
	flex-direction: column;
	padding: 3rem 2.25rem;
	width: 1410px;
	background-color: rgba($color: white, $alpha: 50%);
	border-radius: 10px;
	row-gap: 3rem;
	box-shadow: 0 5px 20px var(--accent-color);
	transition: box-shadow var(--transition-change-color);
}

.background {
	position: absolute;
	z-index: 1;
	left: 50%;
	width: 100%;
	height: 100%;
	background: radial-gradient(
		circle at center,
		var(--accent-color) 20%,
		var(--reverse-primary-color) 100%
	);
	border-radius: 100%;
	opacity: 0.6;
	transform: translateX(-50%);
	filter: blur(350px);
}

.blink {
	width: 0.3rem;
	height: 1.85rem;
	background-color: var(--accent-color);
	transition: background-color var(--transition-change-color);
	animation: blink 0.8s linear infinite;

	@keyframes blink {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}
}
