@use '../../../../app/styles/mixins/form-mixins.scss';

.lableBlockBtn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 0.5rem;
	height: 100%;
}

.lableBlockImg {
	@include form-mixins.form-img;

	opacity: 0.7;
}

.labelBlockLine {
	position: absolute;
	width: 0;
	will-change: width;
	height: 2px;
	background-color: var(--primary-color);
	transform: rotate(45deg);
	transition: width 0.2s ease;
	opacity: 0.5;
}

.labelBlockLineOpen {
	width: 65%;
}
