@mixin tinos-regular {
	font-family: Tinos, sans-serif;
	font-style: normal;
	font-weight: 400;
}

@mixin tinos-bold {
	font-family: Tinos, sans-serif;
	font-style: normal;
	font-weight: 700;
}

@mixin tinos-italic {
	font-family: Tinos, sans-serif;
	font-style: italic;
	font-weight: 400;
}

@mixin tinos-bold-italic {
	font-family: Tinos, sans-serif;
	font-style: italic;
	font-weight: 700;
}

@mixin furore-regular {
	font-family: Furore, sans-serif;
	font-style: normal;
	font-weight: 400;
}

@mixin furore-italic {
	font-family: Furore, sans-serif;
	font-style: italic;
	font-weight: 400;
}

@mixin furore-bold {
	font-family: Furore, sans-serif;
	font-style: normal;
	font-weight: 700;
}

@mixin furore-bold-italic {
	font-family: Furore, sans-serif;
	font-style: italic;
	font-weight: 700;
}
