.toolbar {
	position: fixed;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.toolbarAuth {
	bottom: 0;
	left: 0;
}

.trigger {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	transition:
		transform 0.4s ease-out,
		opacity 0.2s ease-out;
	transform: rotate(var(--angle)) translateX(var(--radius)) rotate(calc(-1 * var(--angle)));
}

.triggerOpen {
	pointer-events: all;
	opacity: 1;
}

.tool {
	width: 44px;
	height: 44px;
	background-color: var(--accent-color);
	border-radius: 100%;
}

.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	background-color: var(--accent-color);
	border-radius: 50%;
}

.iconBtn {
	width: 55%;
	height: 55%;
	transform: rotate(0);
	transition: transform 0.4s ease-out;
	color: var(--same-primary-white-color);
}

.iconBtnOpen {
	transform: rotate(270deg);
}
