.root {
	position: fixed;
	inset: 0;
	min-height: 110vh;
}

.auth {
	z-index: 1;
	background: radial-gradient(
		circle at center,
		var(--accent-color) 20%,
		var(--reverse-primary-color) 100%
	);
	border-radius: 100%;
	opacity: 0.6;
	filter: blur(350px);
}
